// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400|Shrikhand')

/*
—————————————————————————————————————————————————————————————————————————
 Initial Styles
—————————————————————————————————————————————————————————————————————————
*/

h1
    font()
    font-weight 300

h2
    font($size: 1.5em)
    // font-weight: 300

p
    font( $family: "Open Sans" )


blockquote
    font($family: 'Shrikhand', $size: 2em, $color: white)
    

footer
    background-color: #000
    color: white
    padAll(15)


/*
—————————————————————————————————————————————————————————————————————————
 Classes
—————————————————————————————————————————————————————————————————————————
*/

.section-title
    title(3em)
    padding toEm(20) 0
    margin: auto


.logo
    font()
