.splash-image{
        /* The image used */
        background-image: url("../../assets/walking.png");

        /* Set a specific height */
        height: 100vh;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
